body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.contentWrapper {
  display: flex;
}

.navCatWrapper {
  width: 200px;
}

.image {
  width: 200px;
}

.imageHint {
  width: 200px;
  display: none;
  position: absolute;
  top: -47px;
  left: 0;
  z-index: 1;
  cursor: pointer;
}

.imageWrapper {
  display: inline-block;
  position: relative;
}

.imageWrapper:hover .imageHint {
  display: block;
}

.imageInfoWrapper {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
